#page-informe-list{
    width: 100%;
    height: 100%;
}

#search-informe {
    margin-top: 3.2rem;
}

#search-informe label{
    color: #FFFFFF;
}

@media (min-width: 700px) {
    #page-informe-list {
      max-width: 100%;
    }
  
    #search-informe {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 16px;
      position: absolute;
      bottom: 10px;
    }
  
  }