:root {
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html,
body,
#root {
  height: 100vh;
}

body {
  background-color: #ffff;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
textarea {
  font: 500 1.6rem Roboto;
}

.container {
  width: 9vw;
  max-width: 400px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
